In [1]:
import unittest 
import numpy as np

# Функции

In [27]:
def hello_world():
    print('Hello World!')

In [29]:
hello_world()

Hello World!

In [30]:
def my_sum(a,b):
    return a+b

In [31]:
my_sum(2,7)

9

In [32]:
def be_or_not_to_be(romeo, july):
    if romeo and july:
        print('be together')
    elif romeo | july:
        print('be alone')
    else:
        print('not to be')

In [34]:
be_or_not_to_be(romeo = True, july = True)

be together

## Numpy

Задача 1: Написать функцию, которая возвращает среднее значение листа

In [24]:
%%writefile list_avg.py
import numpy as np

#впишите свое решение вместо pass и прогоните ячейку, затем запустите тест
def list_avg(array):
    pass

Overwriting list_avg.py

In [25]:
%run test_list_avg.py

.
----------------------------------------------------------------------
Ran 1 test in 0.022s

OK

Задача 2: Написать функцию, которая возводит в степень n каждый элемент листа

In [1]:
%%writefile list_power.py
import numpy as np

def list_power(array,n):
    pass

Overwriting list_power.py

In [10]:
%run test_list_power.py

.
----------------------------------------------------------------------
Ran 1 test in 0.008s

OK

Задача 3: Написать функцию, которая вернет сумму всех неотрицательных элементов листа (нужно перевести его в np.array) и 0, если таких элементов нет

In [1]:
%%writefile positive_sum.py
import numpy as np

def positive_sum(array):
    pass

Overwriting positive_sum.py

In [3]:
%run test_positive_sum.py

.
----------------------------------------------------------------------
Ran 1 test in 0.003s

OK

Задача 4: Написать функцию, которая превращает list (лист может содержать от 0 до 100 элементов) в квадратный np.array (n на n) и возвращает False, если лист нельзя переформировать в квадратную матрицу:
Будем считать один элемент квадратной матрицей 1X1

In [57]:
%%writefile to_matrix.py
import numpy as np

def to_matrix(array):
    pass

Writing to_matrix.py

In [60]:
%run test_to_matrix.py

..
----------------------------------------------------------------------
Ran 2 tests in 0.014s

OK

Задача 5: Сколько элементов массива больше максимального по модулю?

In [20]:
%%writefile cnt_over_max.py
import numpy as np

def cnt_over_max(array):
    pass

Overwriting cnt_over_max.py

In [22]:
%run test_cnt_over_max.py

.
----------------------------------------------------------------------
Ran 1 test in 0.021s

OK

# Pandas

In [37]:
import pandas as pd

Это более творческое задание. Вопрос: как различные факторы влияют на успеваемость на экзаменах по различным предметам. Действительно ли талантливый человек талантлив во всем? Связан ли уровень образования родителей и успеваемость школьников?

In [39]:
data = pd.read_csv('StudentsPerformance.csv')

In [40]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86