### Работа со строками

![string]()

**Python string definition**\
\
A string in Python is a sequence of characters. It is a derived data type. Strings are immutable. This means that once defined, they cannot be changed.

In [13]:
# Примеры строк
string1 = 'Hellow World!'
string2 = 'my birthday is 16/11/1998'
string3 = ''
string4 = 'first level\nsecond level\nthird level'
string5 = '\'this is a string\' inside the string'
string5_1 = '"this is a string" inside the string'

In [7]:
print(string1)

Hellow World!

In [8]:
print(string2)

my birthday is 16/11/1998

In [9]:
print(string3)

In [10]:
print(string4)

first level
second level
third level

In [12]:
print(string5)

'this is a string' inside the string

In [14]:
print(string5_1)

"this is a string" inside the string

In [23]:
for i in string1:
    print(i)

H
e
l
l
o
w

W
o
r
l
d
!

In [22]:
for i in string1:
    print((i+' ')*50)

H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H H
e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e e
l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l
l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l
o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o
w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w w

W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W
o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o
r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r r
l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l l
d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d d
! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !

In [37]:
for i in range(15):
    if i == 0 or i == 14:
        print('_'*32)
    else:
        print('|' + ' '*30 + '|')

________________________________
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
|                              |
________________________________

In [71]:
for i in range(30):
    if i == 0 or i == 29:
        print('_'*32)
    else:
        print('|' + ' '*(i-1) + '\\' + ' '*(30-i) + '|')
        #print('|' + ' '*(30-i) + '/' + ' '*(i-1) + '|')

________________________________
|\                             |
| \                            |
|  \                           |
|   \                          |
|    \                         |
|     \                        |
|      \                       |
|       \                      |
|        \                     |
|         \                    |
|          \                   |
|           \                  |
|            \                 |
|             \                |
|              \               |
|               \              |
|                \             |
|                 \            |
|                  \           |
|                   \          |
|                    \         |
|                     \        |
|                      \       |
|                       \      |
|                        \     |
|                         \    |
|                          \   |
|                           \  |
________________________________

In [99]:
for i in range(32):
    if i == 0 or i == 31:
        print(''*32)
    else:
        if i < 16:
            print('|' + ' '*(i-1) + '\\' + ' '*(30-2*i) + '/' + ' '*(i-1) + '|')
        else:
            print('|' + ' '*(30-i) + '/' + ' '*(2*i-30-2) + '\\' + ' '*(30-i) + '|')

|\                            /|
| \                          / |
|  \                        /  |
|   \                      /   |
|    \                    /    |
|     \                  /     |
|      \                /      |
|       \              /       |
|        \            /        |
|         \          /         |
|          \        /          |
|           \      /           |
|            \    /            |
|             \  /             |
|              \/              |
|              /\              |
|             /  \             |
|            /    \            |
|           /      \           |
|          /        \          |
|         /          \         |
|        /            \        |
|       /              \       |
|      /                \      |
|     /                  \     |
|    /                    \    |
|   /                      \   |
|  /                        \  |
| /                          \ |
|/                            \|

In [63]:
for i in range(15):
    if i == 0 or i == 14:
        print('_'*62)
    else:
        print('|' + '\\/'*30 + '|')

______________________________________________________________
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
|\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/|
______________________________________________________________

**Что можно делать со строками...**

In [137]:
# 1) Складывать
my_name = 'Настя'
print('меня зовут '+ my_name)

меня зовут Настя

In [139]:
# 2) Умножать на число
'l' + 'o'*3 + 'l'

'loool'

In [220]:
# 3) Извлекать часть
long = 'I like BIVNI course so much <З'
short = long[:12]
short

'I like BIVNI'

In [148]:
short + long[-3:]

'I like BIVNI <З'

In [154]:
# 4) Брать срезы
seq = '1 2 3 4 5 6 7 8 9'
seq[::2]

'123456789'

In [155]:
seq[2::4]

'2468'

In [156]:
# 5) Переворачивать
word = input()
print(word[::-1])

палиндром
морднилап

**Методы строк**

In [191]:
test_string = 'i Am a teSt sTRing)) '
print(test_string)

i Am a teSt sTRing))

In [192]:
len(test_string)

21

In [193]:
# 1) Озаглавливание первой буквы + все остальные маленькие
test_string.capitalize()

'I am a test string)) '

In [194]:
# 2) Все буквы - маленькие
test_string.lower()

'i am a test string)) '

In [195]:
# 3) Все буквы заглавные
test_string.upper()

'I AM A TEST STRING)) '

In [208]:
test_string_2 = '  I am another test string '

In [202]:
# 4) Убрать пробелы по бокам
test_string_2.strip()

'I am another test string)))'

In [204]:
# 5) Убрать пробелы справа
test_string_2.rstrip()

'  I am another test string)))'

In [206]:
# 6) Убрать пробелы слева
test_string_2.lstrip()

'I am another test string))) '

In [212]:
test_string_3 = ')third test string)))'

In [214]:
# 7) Убрать что-то по бокам
test_string_3.strip(')')

# справа и слева аналогично

'third test string'

In [217]:
test_string

'i Am a teSt sTRing)) '

In [219]:
# Композиция методов
test_string.capitalize().strip().strip(')') + ' <З'

'I am a test string <З'

In [223]:
# 8) Первое вхождение элемента
test_string.index('i')

0

In [225]:
# 9) Число вхождений элемента
test_string.count('i')

2

In [231]:
# 10) Replacing
lol_string = 'lol'

In [233]:
loooool_string = lol_string.replace('o', 'ooooo')
loooool_string

'loooool'

In [235]:
wooooow_string = loooool_string.replace('l', 'W')
wooooow_string

'WoooooW'

### Чтение из stdin

In [100]:
input()

4

'4'

In [102]:
a = input()

6

In [104]:
type(a)

str

**Задача 1**: На вход в stdin подается строка с числами через пробел, найти проийведение этих чисел

In [116]:
import numpy as np

**Задача 2**: На вход подается строка с float-числами записанными через запятую, найти результат их целочисленного деления на 7 и вывести строку с результатами, записанными через пробел.

### Форматирование строк

**Форматирование дат**

In [250]:
from datetime import datetime

In [255]:
today = datetime.now()
today

datetime.datetime(2020, 10, 30, 21, 18, 30, 860719)

In [265]:
print("Today's date is {:%Y-%m-%d %H:%M}".format(today))

Today's date is 2020-10-30 21:18

In [278]:
print("Сегодня {:%d %b} {:%Y} года. Московское время: {:%H:%M}".format(today, today, today))

Сегодня 30 Oct 2020 года. Московское время: 21:18

In [279]:
print(f'Сегодня {today.day} число месяца {today.month} {today.year} года. Московское время {today.time()}')

Сегодня 30 число месяца 10 2020 года. Московское время 21:18:30.860719

In [ ]:
my_name = 'Настя'
my_age = '21'
my_job = 'исследователь данных'

In [280]:
#f-srting
f'Меня зовут {my_name}. Мне {my_age} лет и я {my_job}'

'Меня зовут Настя. Мне 21 лет и я исследователь данных'

In [311]:
#string formating
'Меня зовут {}. Мне {:.2f} лет и я {}'.format(my_name, float(my_age), my_job)

'Меня зовут Настя. Мне 21.00 лет и я исследователь данных'

In [282]:
#string formating
'Меня зовут {1}. Мне {0} лет и я {2}'.format(my_age, my_name, my_job)

'Меня зовут Настя. Мне 21 лет и я исследователь данных'

In [290]:
def cost_func(q):
    return 5.65*q**2 - 10.02*q + 2/3

In [291]:
tc = cost_func(5)
tr = 250

In [289]:
profit = tr - tc

In [293]:
f'Our total costs are {tc:.2f}$, so the profit is equal to {tr-tc:.2f}$'

'Our total costs were 91.82$, so the profit is equal to 158.18$'

In [294]:
f'Our total costs are {tc:f}$, so the profit is equal to {tr-tc:f}$'

'Our total costs were 91.816667$, so the profit is equal to 158.183333$'

In [305]:
f'Our total costs are {tc:e}$, so the profit is equal to {int(tr-tc):d}$'

'Our total costs were 9.181667e+01$, so the profit is equal to 158$'

### Regex

**REGular EXpression**:\
String containing a combination of normal characters and special metacharacters that describes patterns to find text or positions within a text

In [3]:
import re

In [4]:
# Пример 
r'st\d\D{3}\w+?nse'

'st\\d\\D{3}\\w+?nse'

In [5]:
# Еще пример
r'htntfjf2-4-5-%$'

'htntfjf2-4-5-%$'

In [6]:
#Создадим строку для работы с ней

In [7]:
name = ['Judy', 'Maryy']
age = [30, 30]
state = ['CA', 'TX']
city = ['Los-Angeles', 'Sah-Francisco']
job = ['scientist', 'fitness coach']
email = ['jjudy90beaty_quine@gmai.com', 'marytailor90@gmail.us']
phone = ['+1-979-543-29-46', '+1-777-777-77-77']

In [8]:
string = f"My name is {name[0]}. I'm {age[0]} y.o. and Im a {job[0]} from {city[0]},{state[0]}: it's a veeery sunny \
place.\
U can text me here {email[0]} and my phone {phone[0]}.\n{name[1]} is my beeest best friend.. I really love \
her, she ia a very good {job[1]} now she is in {city[1]}. her contasts: email {email[1]}, phone {phone[1]}"

In [9]:
print(string)

My name is Judy. I'm 30 y.o. and Im a scientist from Los-Angeles,CA: it's a veeery sunny place.U can text me here jjudy90beaty_quine@gmai.com and my phone +1-979-543-29-46.
Maryy is my beeest best friend.. I really love her, she ia a very good fitness coach now she is in Sah-Francisco. her contasts: email marytailor90@gmail.us, phone +1-777-777-77-77

In [10]:
re.findall(r'my', string)

['my', 'my']

**Основные метасимволы**:\
\w - любой словесный символ\
\W - любой несловесный символ\
\d - любая цифра\
\D - любой символ кроме цифры\
\s - пробел\
\S - не пробел\
. - любой символ\
^ - начало строки\
$ - конец строки\
[a-zA-z1-9] - любой из этих символов\
'+' - один или более раз\
'*' - ноль или более раз\
{a,b} - от a до b раз\

**Основные команды**\
findall\
sub

**Виды поиска**\
Жадный (по умолчанию) - максимальной длины подходящая подстрока\
Не жадный (ленивый) - минимальная подходящая подстрока

In [11]:
re.findall(r'.*', string)

["My name is Judy. I'm 30 y.o. and Im a scientist from Los-Angeles,CA: it's a veeery sunny place.U can text me here jjudy90beaty_quine@gmai.com and my phone +1-979-543-29-46.",
 '',
 'Maryy is my beeest best friend.. I really love her, she ia a very good fitness coach now she is in Sah-Francisco. her contasts: email marytailor90@gmail.us, phone +1-777-777-77-77',
 '']

In [12]:
re.findall(r'\d', string)

['3',
 '0',
 '9',
 '0',
 '1',
 '9',
 '7',
 '9',
 '5',
 '4',
 '3',
 '2',
 '9',
 '4',
 '6',
 '9',
 '0',
 '1',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7']

In [13]:
re.findall(r'\d{2,3}', string)

['30', '90', '979', '543', '29', '46', '90', '777', '777', '77', '77']

In [14]:
re.findall(r'\d{1,}', string)

['30',
 '90',
 '1',
 '979',
 '543',
 '29',
 '46',
 '90',
 '1',
 '777',
 '777',
 '77',
 '77']

In [15]:
#Аналог
re.findall(r'\d+', string)

['30',
 '90',
 '1',
 '979',
 '543',
 '29',
 '46',
 '90',
 '1',
 '777',
 '777',
 '77',
 '77']

In [16]:
#Найдем номера телефонов
re.findall(r'\+\d{1}-\d{3}-\d{3}-\d{2}-\d{2}', string)

['+1-979-543-29-46', '+1-777-777-77-77']

In [17]:
#Найдем номера телефонов
re.findall(r'\+\d{1}-\d{3}-\d{3}-\d{2}-\d{2}', string)

['+1-979-543-29-46', '+1-777-777-77-77']

In [18]:
#Найдем Штаты
re.findall(r'[A-Z]{2}', string)

['CA']

In [19]:
# Все, что начинается с больших букв
re.findall(r'[A-Z]{1,2}\w+', string)

['My', 'Judy', 'Im', 'Los', 'Angeles', 'CA', 'Maryy', 'Sah', 'Francisco']

In [20]:
# Повторяющиеся буквы
re.findall(r'(.)\1{1,}', string)

['e', 'n', 'j', 'y', 'e', '.', 'l', 'o', 's', '7', '7', '7', '7']

In [22]:
#Жадный - нежадный
zhad = re.findall(r'\d+', string)
lazy = re.findall(r'\d+?', string)

In [ ]:
# Группы